<div class="container-fluid py-0" id="service-grid">
    <svg class="svg-shape blue-polygon" viewBox="0 0 300 322">
        <title>Colorful Shapes</title>
        <defs>
        <linearGradient id="gradient-2" gradientTransform="rotate(90)">
        <stop offset="5%" stop-color="rgba(233,244,255,0)"></stop>
        <stop offset="95%" stop-color="rgba(233,244,255,.5)"></stop>
        </linearGradient>
        </defs>
        <path fill="url(#gradient-2)" d="M300,211.09V110.76c0-21.47-11.55-41.27-30.23-51.85L179.35,7.73c-18.21-10.31-40.48-10.31-58.69,0L30.23,58.91 C11.55,69.48,0,89.29,0,110.76v100.33c0,21.47,11.55,41.27,30.23,51.85l90.42,51.18c18.21,10.31,40.48,10.31,58.69,0l90.42-51.18 C288.45,252.36,300,232.55,300,211.09z"></path>
    </svg>
    <div class="container border shadow-lg my-5 p-5" id="">
        <h2 class="mb-5">The future of MD</h2>
        <div class="row">
            {% for item in site.data.data.showcase %}
                <div class=" col-lg-4 col-md-6 col-sm-12 px-2 mb-3 service-box">
                    <div class="shadow bg-white bg-gradient img-container mb-3 mx-auto">
                        <img src="{{ site.baseurl }}/static/img/images/service/{{ item.image }}" alt="" class="img-fluid">
                    </div>
                    <div class="text-container">
                        <h3 class="mb-3">{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
